.testimonial-section {
  padding: 120px 0 100px;
  background-image: url("../../img//Project/bg-1.jpg");
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}
.testimonial-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.85;
  background-color: #1f2235;
}

.testimonial-section .testi-item {
  background-color: white;
  padding: 30px;
  border-radius: 50px 50px 50px 0px;
  z-index: 1;
}

.test-info {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 200px;
}
.test-info img {
  height: 200px;
  max-width: 100%;
  border: 2px solid transparent;
  /* border-color: black; */
}
.item-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}
.test-text {
  height: 50px;
  margin-top: -10px;
  border: 2px solid transparent;
  border-color: black;
  display: flex;
  align-items: center;
}
.test-text i {
  font-size: 40px;
}
@media screen and (max-width: 1000px) {
  .test-info {
    display: flex;
    justify-content: center;
  }
  .test-info img {
    max-height: 60%;
    max-width: 60%;
    border: 2px solid transparent;
    /* border-color: black; */
    /* display: none; */
  }
}

@media screen and (max-width: 768px) {
  .test-info {
    display: flex;
    justify-content: center;
  }
  .test-info img {
    min-height: 60%;
    max-width: 70%;
    border: 2px solid transparent;
    /* border-color: black; */
  }
}
